---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="House of DeviousCodes">
	<main>

		<h1>
			DeviousCodes
		</h1>
		
		<ul role="list" class="link-card-grid">
			<Card
				image="/images/ageofai.png"
				title="Issue 1: Age of AI"				
			/>
			
			
		</ul>
	</main>
</Layout>

<style>
	h1 {
		font-size: 60px;
		text-align: center;
		font-family: cursive;
	}
</style>
